/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body {
	background-color:#000;
	background-image: url(../images/bg-image.jpg);
	color:#fff;
}
header {
	width:996px;
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	overflow:hidden;
}
#socials {
	float:right;
}
.social {
	float:left;
	padding-left:5px;
}
.logo {
	width:100%;
	height:100%;
}
/* =============================================================================
   Page Styles
   ========================================================================== */
  
.img {
	display:inline;
}  
/* ---------------------------------NAV ------------------------------------------------> */
nav {
	width:996px;
	overflow:hidden;
}
nav ul {
	width:996px;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
nav li {
	width:160px;
	float:left;
}
nav a {
	font-family: 'Sigmar One', cursive;
	color:#fff;
	text-decoration: none;
	display:block;
	height:50px;
	font-size: 1.3em;
	line-height: 50px;
	text-align: center;
}
nav a:hover {
	color:#f00;
}
/* ---------------------------------SLIDER ------------------------------------------------> */

.slider {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	clear: both;
}

/* ---------------------------------GALLERY ------------------------------------------------> */
#gallery ul {
	border:1px dashed #fff;
	list-style-type: none;
	margin: 20px auto;
	overflow:hidden;
	padding:5px;
}
#gallery li {
	float:left;
	margin-left:19px;
}
#gallery a {
	border:10px solid #fff;
	display:block;
	width:143px;
	height:106px;
	outline:0;
	margin-bottom:10px;
}
#gallery a:visited {
	border-color:#fff;
}
#gallery a:hover {
	border-color:#f00;
}

#gallery a:active {
	border-color:#000;
}
.gallery ul {
	border:1px dashed #fff;
	list-style-type: none;
	margin: 20px auto;
	overflow:hidden;
	padding:5px;
}
.gallery li {
	float:left;
	margin-left:19px;
}
.gallery a {
	border:10px solid #fff;
	display:block;
	width:143px;
	height:115px;
	outline:0;
	margin-bottom:10px;
}
.gallery a:visited {
	border-color:#fff;
}
.gallery a:hover {
	border-color:#f00;
}

.gallery a:active {
	border-color:#000;
}



/* ---------------------------------Form ------------------------------------------------> */
form {
	width:50%;
	float:left;
	margin-bottom: 2em;
}
input {
	width:100%;
	border-radius:7px;
	margin-bottom:3%;
}
input:focus {
	background:#b9e1ff;
	color:#000;
}
textarea {
	width:100%;
}
footer {
	clear:both;
	text-align: center;
	background-color:#000;
}
/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
nav li {
	width:160px;
	float:none;
}
.social {
	float:none;
}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

nav li {
	width:160px;
	float:none;
}	
.social {
	float:none;
}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
nav li {
	width:160px;
	float:none;
}
.social {
	float:none;
}
}
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
nav li {
	width:160px;
	float:none;
}
.social {
	float:none;
}
}

/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/